end_mill_tools_sjis.csv
tap_tools_sjis.csv
.env
.env
calculator/__pycache__/calculations.cpython-311.pyc
calculator/__pycache__/urls.cpython-311.pyc
calculator/__pycache__/views.cpython-311.pyc
.venv